meta(property="site:type" content="website")
meta(property="site:title" content=site.title)
meta(property="site:site_name" content=site.name)
meta(property="site:url" content=site.url)
meta(property="site:image" content=site.image)

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content=site.title)
meta(name="twitter:description" content=site.description)
meta(name="twitter:site" content=site.url)
meta(name="twitter:image" content=site.image)